@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  min-height: 100vh;
  background-color: #3e2c1c;
  color: #fff;
  font-family: "Arial", sans-serif;
  text-align: center;
}
